
.forget {
  
  height: 50vh;
  
  background-color: #0d0d1a;  
 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  background-color: rgba(25, 25, 40, 0.8);  
  backdrop-filter: blur(10px); 
  border-radius: 15px;
  padding: 2.5rem;
  width: 500px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.heading-forget {
    margin-bottom: 2rem;
    text-align: center;
}

.heading-forget h1 {
    font-size: 2rem;
    color: #fff;
}

.heading-forget p {
    font-size: 0.9rem;
    color: #c0c0c0;
}

.forget-input {
    
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-bottom: 1.5rem;  
}

.forget-input:focus {
    outline: none;
    border-color: #6a1b9a;
}
.forget-button{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #6a1b9a, #8e2de2);  
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}   
.mainbox{
    margin: auto;
    margin-top: 3rem;
    width: 90vw;
    height: 90vh;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}
.logo{
    display: flex;
    align-items: center;
}