* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Poppins', sans-serif;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at top left, #09121a, #0b1f2e, #101820);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: #e6f7ff;
  overflow: hidden;
}
 
 
 

.chat-container {
  max-width: 1400px;
  height: 90vh;
  border-radius: 25px;
  overflow: hidden;
  background: rgba(15, 25, 35, 0.55);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 255, 255, 0.15);
  transition: all 0.4s ease-in-out;
  display: grid;
  flex-direction: row;
  flex-wrap: nowrap; 
  width: 100%;
  height: 95vh; 
}

 

 
.two-columns {
  grid-template-columns: 60px 250px 1fr;
}

.three-columns {
  grid-template-columns: 60px 300px 740px 300px;
}

.chat-container .sidebar-options {
  grid-column: 1;
  background: rgba(0, 234, 255, 0.1);
  border-right: 1px solid rgba(0, 255, 255, 0.1);
}

.chat-container .sidebar {
  grid-column: 2;
  background: rgba(15, 25, 35, 0.6);
  border-right: 1px solid rgba(0, 255, 255, 0.1);
}

.chat-container .chat-ui {
  grid-column: 3;
  background: rgba(0, 0, 0, 0.25);
}

.chat-container .rightside {
  grid-column: 4;
  background: rgba(10, 25, 30, 0.55);
  border-left: 1px solid rgba(0, 255, 255, 0.1);
}

 
.sidebar:hover,
.rightside:hover,
.chat-ui:hover {
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
  transition: 0.3s ease;
}

 
@media (max-width: 768px) {
  .home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .chat-container {
    display: grid;
    grid-template-columns: 0px 2fr;
    grid-template-areas: "main";
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    background: rgba(15, 25, 35, 0.95);
  }

  .sidebar-options {
    grid-area: main;
    width: 50px;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100%;
    background: rgba(0, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 255, 255, 0.15);
  }

  .sidebar {
    grid-area: main;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid rgba(0, 255, 255, 0.1);
    margin-left: 60px;
    width: calc(100% - 60px);
    background: rgba(10, 25, 30, 0.9);
    transition: transform 0.3s ease-in-out;
  }

  .chat-ui {
    grid-area: main;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }
}
